Deceased2010Client/Service References/Deceased2010Service/Deceased2010Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetNamesByDate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dateinput" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetNamesByDateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetNamesByDateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetNamesByDateSoapIn">
    <wsdl:part name="parameters" element="tns:GetNamesByDate" />
  </wsdl:message>
  <wsdl:message name="GetNamesByDateSoapOut">
    <wsdl:part name="parameters" element="tns:GetNamesByDateResponse" />
  </wsdl:message>
  <wsdl:portType name="Deceased2010ServiceSoap">
    <wsdl:operation name="GetNamesByDate">
      <wsdl:input message="tns:GetNamesByDateSoapIn" />
      <wsdl:output message="tns:GetNamesByDateSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Deceased2010ServiceSoap" type="tns:Deceased2010ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetNamesByDate">
      <soap:operation soapAction="http://tempuri.org/GetNamesByDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Deceased2010ServiceSoap12" type="tns:Deceased2010ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetNamesByDate">
      <soap12:operation soapAction="http://tempuri.org/GetNamesByDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Deceased2010Service">
    <wsdl:port name="Deceased2010ServiceSoap" binding="tns:Deceased2010ServiceSoap">
      <soap:address location="http://localhost:31110/Deceased2010Service.asmx" />
    </wsdl:port>
    <wsdl:port name="Deceased2010ServiceSoap12" binding="tns:Deceased2010ServiceSoap12">
      <soap12:address location="http://localhost:31110/Deceased2010Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>