NameDayClient/Service References/NameDayService/NameDayService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetDateByName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDateByNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetDateByNameResult" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetDateByNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetDateByName" />
  </wsdl:message>
  <wsdl:message name="GetDateByNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetDateByNameResponse" />
  </wsdl:message>
  <wsdl:portType name="NameDayServiceSoap">
    <wsdl:operation name="GetDateByName">
      <wsdl:input message="tns:GetDateByNameSoapIn" />
      <wsdl:output message="tns:GetDateByNameSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NameDayServiceSoap" type="tns:NameDayServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDateByName">
      <soap:operation soapAction="http://tempuri.org/GetDateByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NameDayServiceSoap12" type="tns:NameDayServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDateByName">
      <soap12:operation soapAction="http://tempuri.org/GetDateByName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NameDayService">
    <wsdl:port name="NameDayServiceSoap" binding="tns:NameDayServiceSoap">
      <soap:address location="http://localhost:12112/NameDayService.asmx" />
    </wsdl:port>
    <wsdl:port name="NameDayServiceSoap12" binding="tns:NameDayServiceSoap12">
      <soap12:address location="http://localhost:12112/NameDayService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>